body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #E1EEDA;
    color: #037250;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    margin-right: 24px;
}

button :active{
    background: rgb(224, 224, 224);
}

.marca{
    padding: 16px;
}

.marca img{
    margin: auto;
    display: flex;
    width: 70%;
}
.row{
    max-width: 1800px;
    background: #E1EEDA;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}

.contenedor{
    width: 80%;
    display: inline-block;
    background-color: #E1EEDA;
    padding: 24px;
    margin: auto;
}

.info{
    background: #E1EEDA;
    width: 20%;
    padding: 24px;
}

.col-6{
    width: 10%;
}

.mesaDados{
    display: flex;
    width: 100%;

}



.casillas{
    display: flex;
}

.casillasDos{
    display: flex;
    flex-direction: row-reverse;
}


.casilla{
    background: #F0F7EC;
    width: 10%;
    height: 70px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 4px;
    border: solid white 4px;
    
}

.casillaSola{
    background: #F0F7EC;
    width: 8.5%;
    height: 70px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 4px;
    border: solid white 4px;
    
}

p{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.baseCard{
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fasesCard{
    background: #F0F7EC;
    height: 400px;
    padding: 24px;
    border-radius: 12px;
}

.faseCero{
    background: lightgreen;
}

.faseUno{
    background-color: lightseagreen;
}

.faseDos{
    background-color: lightcyan;
}

.faseTres{
    background: lightpink;
}

.faseCuatro{
    background: lightgray;
}

.faseQuinta{
    background: lightsalmon;
}

.faseSexta{
    background: lightgoldenrodyellow;
}

.faseSeptima{
    background: lightblue;
}

.llegada{
    background: #F7DDA8;
}

/* Animation Shake*/

.shake1 {

  
  &:hover {
    -webkit-animation-name:              shake;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
  }
}

@-webkit-keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }

 @media only screen and (max-width: 600px) {

    h2{
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }

    .row {
      flex-wrap: nowrap;
      display: flex;
      width: 100%;
    }

    .info{
        width: 70%;
        display: inline-block;
    }

    .contenedor{
        width: 30%;
        height: 94vh;
        display: flex;
        overflow-y: auto;
        flex-direction: column;

    }

    .fasesCard{
        background: #F0F7EC;
        height: auto;
        padding: 24px;
        border-radius: 12px;
    }

    .casillasDos{
        flex-direction: column;
    }

    .casillas{
        flex-direction: column;
    }

    .casilla{
        width: 80%;
        
    }

    .casillaSola{
        width: 80%;
    }
  }